@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:ital,wght@0,400;0,700;1,300&display=swap");

:root {
  --shadow-color: 38deg 24% 38%;

  --shadow: -0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.36),
    -0.5px 0.9px 1.2px -0.8px hsl(var(--shadow-color) / 0.36),
    -1.3px 2.4px 3.1px -1.7px hsl(var(--shadow-color) / 0.36),
    -3.1px 5.8px 7.4px -2.5px hsl(var(--shadow-color) / 0.36);

  --dropshadow: drop-shadow(2px 2px 2px hsl(var(--shadow-color)));

  --white: #fff;
  --cream: #f5ecdd;
  --cream-gradient: linear-gradient(
    324deg,
    rgba(248, 239, 224, 1) 34%,
    rgba(241, 243, 229, 1) 60%
  );
  --yellow: #fec408;
  --red: #f47967;
  --pink: #ff6faa;
  --lightgreen: #05a88d;
  --darkgreen: #167070;
  --blackgreen: #3b432e;
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* dodo specific */
body {
  background-color: var(--cream);
  background-image: var(--cream-gradient);

  /* font-family: "Comic Neue", cursive; */
  font-family: "Roboto", "Arial", sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: "Bangers", cursive;
  text-align: center;
  padding: 0.5rem;
}

h1 {
  font-size: 10rem;
  color: var(--red);
  text-align: left;
  /* transform: rotate(-10deg);
    transform-origin: center left; */
  transform: skewY(-11deg);
  filter: var(--dropshadow);
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2.5rem;
  /* font-family: "Roboto","Arial",sans-serif; */
  font-weight: bold;
}

summary {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

details p {
  padding: 1rem;
}

hr {
  border: dotted var(--darkgreen) 5px;
  border-width: 5px 0 0;
  margin: 1rem 0;
}

.all-title {
  width: fit-content;
  color: var(--red);
  display: block;
}
.sub-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: var(--red);
  font-family: "Bangers", cursive;

  /* background-color: var(--blackgreen); */
}
.over {
  position: relative;
  top: 2rem;
  padding-left: 5rem;
}
.under {
  text-align: right;
  position: relative;
  bottom: 2rem;
  padding-right: 5rem;
}

section {
  padding: 1rem 4rem 4rem;
  position: relative;
  /* display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around; */
  /* border: solid 2px black; */
}

#about {
  padding-top: 7rem;
  display: block;
}

#about .cta {
  display: grid;
  place-items: center;
  margin: 2rem;
}

#main-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--darkgreen);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: var(--shadow);
}

#main-menu li {
  float: left;
  padding: 1rem;
}

#main-menu a {
  color: var(--cream);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
}

#main-menu a:hover {
  color: var(--lightgreen);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.two-dodoes {
  float: right;
  position: relative;
  top: -8rem;
  right: -5rem;
  width: 680px;
  aspect-ratio: 1 / 1;
  z-index: -1;
}

.shape-under {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50% 200px 100% 10%;
  transform: rotate(20deg);
  background-color: var(--lightgreen);
}

.monitor {
  width: 580px;
  position: absolute;
  right: 0;
  top: 0;
}

.video-screen {
  width: 428px;
  height: 275px;
  /* width: 100%;
    height: 100%; */
  position: absolute;
  right: 77px;
  top: 20px;
}

.birds {
  width: 500px;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
}

.all-faq {
  width: 50vw;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.all-form {
  margin: auto;
  width: 80vw;
  min-width: 60ch;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.all-form form {
  display: flex;
  flex-flow: column nowrap;
}

.all-form .sub-title {
  padding: 1rem;
}

.all-form input {
  padding: 0.6rem;
  margin: 0.6rem;
  border: solid 1px var(--blackgreen);
  border-radius: 5px;
}

.all-form .name-area {
  display: flex;
  flex-flow: row wrap;
}

.all-form .button-area {
  align-self: center;
}

#clippy-question {
  margin-left: 0;
  position: fixed;
  bottom: 6rem;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: top left;
  background-color: var(--lightgreen);
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: var(--shadow);
  border-radius: 0 0 1rem 1rem;
  cursor: pointer;
  color: var(--cream);
  display: grid;
  place-items: center;
}
#clippy {
  display: none;

  position: fixed;
  top: 60%;
  border-left: 0;
  width: 400px;
  min-height: 400px;
  flex-flow: row wrap;
  justify-content: space-between;
  background: radial-gradient(
    ellipse at bottom left,
    rgba(120, 103, 74, 0.5) 31%,
    transparent 70%
  );
}

#clippy .image {
  width: 200px;
  height: 400px;
  background-image: url(../images/dodo-clippy.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* border: solid 2px black; */
}

#clippy .bubble {
  /* border: solid 2px black; */
  border-radius: 5px;
  background-color: var(--white);
  width: 200px;
  height: 50px;
  /* box-shadow: var(--shadow); */
  filter: var(--dropshadow);
  display: grid;
  place-content: center;
  padding: 10px 5px 10px 5px;
  z-index: 2;
}

#clippy .left-bubble {
  transform: rotate(2deg);
  transform-origin: bottom left;
  position: relative;
  left: 10px;
  /* top: -20%; */
}

#clippy .left-bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid transparent;
  border-right: 12px solid var(--white);
  border-top: 24px solid transparent;
  border-bottom: 12px solid var(--white);
  left: 2px;
  bottom: -5px;
  z-index: -1;
  border-radius: 5px;
  transform: rotate(-20deg);
}

#clippy .right-bubble {
  background-color: var(--lightgreen);
  transform: rotate(-2deg);
  transform-origin: bottom right;
  position: relative;
  right: 10px;
  bottom: -30px;
  /* top: -20%; */
}

#clippy .right-bubble input {
  background-color: var(--lightgreen);
}

#clippy .right-bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 24px solid transparent;
  border-left: 12px solid var(--lightgreen);
  border-top: 24px solid transparent;
  border-bottom: 12px solid var(--lightgreen);
  right: 2px;
  bottom: -5px;
  z-index: -1;
  border-radius: 5px;
  transform: rotate(20deg);
}

#clippy .x-bubble {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: -1rem;
  top: -2rem;
  /* float: right;
    clear:all; */
}

#clippy .x-bubble:hover {
  cursor: pointer;
}

/* #clippy .left-bubble:before,
#clippy .left-bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

#clippy .left-bubble:before{
    left: 30px;
	bottom: -50px;
	border: 25px solid;
	border-color: #333 transparent transparent #333;
}
#clippy .left-bubble:after {
	left: 38px;
	bottom: -30px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;

} */

#tickets {
  padding-top: 3rem;
}

#tickets h2 {
  margin-bottom: 2rem;
}

.all-tickets {
  /* clear: both; */
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.ticket-card {
  background-color: var(--red);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 1rem;
  min-width: 30ch;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.speaker {
  background-color: var(--lightgreen);
}

.ticket-card h3 {
  padding: 2rem;
}

.ticket-card button {
  padding: 2rem;
  /* align-self: flex-end;

  justify-self: center; */
}

.ticket-card .frontbtn {
  background-color: var(--darkgreen);
}
/* .ticket-card ul{
list-style-type: disc;
} */

.ticket-card li {
  padding: 0.2rem;
}

#lectures .sub-title {
  width: fit-content;
  margin: auto;
  margin-bottom: 3rem;
}

/* carousel */
.infinite-carousel {
  position: relative;
  overflow: hidden;
  clear: both;

  height: 12rem;

  /* @include transform( scale3d(1,1,1) ); */
}

.slide {
  float: left;
  width: 10rem;
  height: 10rem;

  /* background: var(--white); */

  /* background: #666;
  color:#aaa; */
}

.slide-enable-animation {
  transition: all 0.5s ease-in-out;
}

.inside-slide {
  box-shadow: var(--shadow);
  border: solid black 1px;
  border-radius: 5px;
  background-color: var(--darkgreen);
  color: var(--white);
  margin: 1rem;
  padding: 0.5rem;
}

.carousel-viewport .title {
  font-weight: bold;
  padding: 0.5rem;
}

.carousel-viewport .person {
  font-weight: italic;
  padding-top: 1rem;
  padding: 0.5rem;
}

.carousel-control-previous,
.carousel-control-next {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  cursor: pointer;

  /* background: var(--darkgreen);
  color: var(--cream); */
  font-weight: bold;

  line-height: 40px;
  font-size: 2rem;
  text-align: center;
}

.carousel-control-previous {
  left: 0;
  right: auto;
}
.carousel-control-next {
  left: auto;
  right: 0;
}
/* end carousel */

#contact {
  text-align: center;
}

.association {
  font-size: 1.5rem;
}

.contact-all {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
}

.details,
.map {
  line-height: 2;
  font-weight: bold;
  text-align: right;
}

.map {
  width: 60%;
}

/* BUTTON */
button {
  margin: 0.5rem;
}

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0px;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.shadow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: var(--halfdark);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: var(--shadow);
}

.frontbtn {
  display: block;
  position: relative;
  padding: 10px 22px;
  border-radius: 7px;
  border: none;
  font-size: 1.2rem;
  color: var(--white);
  background: #41b091;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .frontbtn {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .frontbtn {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}
